<ion-content >
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <div class="top-title ion-text-center">
          <img class="logo" src="../assets/imgs/logo.png">
        </div>
        <div class="ion-text-center">
          <h3>Login</h3>
        </div>
        <div class="ion-padding">
          <ion-item>
            <ion-input type="email" placeholder="your@email.com" [(ngModel)]="userLogin.email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Senha" [(ngModel)]="userLogin.password" required></ion-input>
          </ion-item>
        </div>
        <div class="ion-padding">
          <ion-button  size="large" expand="block" (click)="login()">Login</ion-button>
        </div>
        <div class="ion-padding ion-text-center">
          <a (click)="goRegister()">Criar uma conta</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
  	<ion-row class="ion-justify-content-center">
  		<div class="ion-text-center">
  			<small>ImovelTech App Copyright (c) ImovelTech</small>
      	</div>
  	</ion-row>
  </ion-grid>
</ion-content>