<ion-content >
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      	<div class="title-top" text-center>
          	<img class="logo" src="../../assets/imgs/logo.png">
        	</div>
        <div text-center>
          <h3>Criar Nova Conta</h3>
        </div>
        <div padding>
          <ion-item>
            <ion-input type="email" placeholder="your@email.com" [(ngModel)]="userRegister.email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Senha" [(ngModel)]="userRegister.password" required></ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-button  size="large" expand="block" (click)="register()">Cadastrar</ion-button>
        </div>
        <div padding text-center>
          <a (click)="goLogin()">Já tem uma conta?</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
  	<ion-row justify-content-center>
  		<div text-center>
  			<small>ImovelTech App Copyright (c) ImovelTech</small>
      	</div>
  	</ion-row>
  </ion-grid>
</ion-content>